.substep-card {
  border: 1px var(--light-neutral) solid;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.substep-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.substep-heading {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 1.2rem;
  width: 35%;
}

.progress-bar-container{
  width: 35%;
  height: 1.5rem;
  background: var(--light-neutral);
  border-radius: 1rem;
  position: relative;
}

.progress-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--semantic-green);
  border-radius: 1rem;
  transition: width 0.3s ease;
}
.progress-bar-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 0.85rem;
  font-weight: 600;
}

.half-substep-complete{
   color: var(--white);
}

.toggle-btn {
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}
