.question-card{
    display: flex;
    gap:2rem;
    border: 1px solid black;
    padding: 1rem;
}

.easy-level{
    background-color: lightgreen;
}

.medium-level{
    background-color: yellow
}

.hard-level{
    background-color: red;
}

.check-btn {
    height: fit-content;
}