.dashboard {
  height: calc(100% - 4.5rem);
  padding: 0 3vw;
}

.filters-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}

#reset{
  color: var(--primary-text);
}

@media screen and (max-width: 500px){
  .dashboard{
    padding: 0 1rem;
  }
  
}
