/* .dashboard-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
} */

.dashboard {
  /* flex: 1; */
  height: calc(100% - 4.5rem);
  /* overflow-y: hidden; */
  /* display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr; */
  padding: 0 3vw;
  /* column-gap: 2rem;
  row-gap: 2rem; */
}

.filters-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.75rem 0;
}

#reset{
  color: var(--black);
}
