.dashboard {
  height: calc(100% - 4.5rem);
  padding: 0 3vw;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.filters-div-left {
  display: flex;
  flex: 1;
  gap: 2vw;
}

.filters-div-right {
  display: flex;
  gap: 2vw;
}

.show-hide-revision {
  background: var(--branding);
}
.reset-btn {
  background: var(--secondary);
}

@media screen and (max-width: 840px) {
  .show-hide-revision,
  .reset-btn {
    padding: 0.75rem 1.5rem;
  }
}
@media screen and (max-width: 680px) {
  .show-hide-revision,
  .reset-btn {
    padding: 0.6rem 1.25rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .dashboard {
    padding: 0 1rem;
  }
  .show-hide-revision,
  .reset-btn {
    padding: 0.5rem 0.65rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .show-hide-revision,
  .reset-btn {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
