.leaderboard-container {
  border: 1px solid var(--border-light);
  width: 50vw;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  background: var(--leaderboard);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  height: 80vh;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex: 1;
  overflow-y: scroll;
  width: 95%;
}

.leaderboard-heading {
  font-size: 2.5rem;
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--branding);
}

@media screen and (max-width: 1200px) {
  .leaderboard-container {
    width: 55vw;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .leaderboard-container {
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  .leaderboard-container {
    width: 65vw;
  }
}

@media screen and (max-width: 840px) {
  .leaderboard-container {
    width: 75vw;
  }

  .leaderboard-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .leaderboard-container {
    width: 85vw;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .leaderboard-container {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .leaderboard-container {
    width: 90vw;
    padding: 1rem 0.75rem;
  }
}
