.navbar {
  padding: 1rem 5rem 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-neutral);
}

.logo {
  cursor: pointer;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 1.5rem;
  height: fit-content;
  font-weight: 700;

  display: flex;
  align-items: center;
}

.logo-streak-icon {
  width: 3rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-streak {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 0.5rem 1rem;
}

.navbar-streak-logo, .navbar-points-logo{
  height: 2rem;
}

.navbar-streak-number {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--dark-orange);
}

.navbar-points {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.navbar-points-number {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--accent);
}

.navbar-profile,
.navbar-leaderboard {
  padding: 0.5rem 1rem;
  /* height: fit-content; */
}

.login-btn {
  padding: 0.75rem 2rem;
  border: none;
  background: var(--secondary);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  /* color: var(--white); */
}
