.navbar {
  padding: 0.5rem 5rem 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-light);
}

.logo {
  cursor: pointer;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 1.5rem;
  height: fit-content;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--branding);
}

.logo-streak-icon {
  width: 3rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-streak,
.navbar-points {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.navbar-streak-logo,
.navbar-points-logo {
  height: 2rem;
}

.navbar-streak-number {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--streak-number);
}

.navbar-points-number {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar-profile,
.navbar-leaderboard {
  padding: 0.5rem 1rem;
}

.total-progress-container {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.total-progress-percentage {
  color: var(--primary);
}

.total-progress {
  color: var(--branding);
}

.mobile-navbar,
.mobile-navabar-expanded {
  display: none;
}

.burger-menu-logo {
  background-color: var(--branding);
  border-radius: 40%;
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0.5rem 3rem 0.5rem 1.5rem;
  }
  .navbar-leaderboard,
  .navbar-profile {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .burger-menu {
    display: flex;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  .mobile-navbar-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4rem;
    top: 4.5rem;
    background: var(--background);
    z-index: 2;
  }
  .mobile-total-progress-container {
    display: none;
  }
  .mobile-navbar-leaderboard,
  .mobile-navbar-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 12.5rem;
    border: 1px var(--border-light) solid;
  }
}

@media screen and (max-width: 840px) {
  .logo-streak-icon {
    width: 2rem;
  }
  .logo {
    font-size: 1.25rem;
  }
  .total-progress-container {
    font-size: 1rem;
    gap: 1.5rem;
  }
  .navbar-points,
  .navbar-streak,
  .burger-menu {
    padding: 0.5rem;
  }
  .navbar-points-number,
  .navbar-streak-number {
    font-size: 1.1rem;
  }
  .login-btn {
    padding: 0.5rem 1.5rem !important;
    font-size: 0.85rem !important;
  }
}

@media screen and (max-width: 680px) {
  .navbar {
    padding: 0.5rem 1.25rem;
  }
  .mobile-navbar-popup {
    right: 1.25rem;
  }
  .total-progress-container {
    display: none;
  }
  .mobile-total-progress-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.25rem;
    padding: 0.5rem 0;
    border: 1px var(--border-light) solid;
  }
  .login-btn {
    padding: 0.5rem 1.25rem !important;
  }
}

@media screen and (max-width: 600px) {
  .navbar-points-logo,
  .navbar-streak-logo,
  .burger-menu-logo {
    height: 2rem;
  }
  .navbar-points-number,
  .navbar-streak-number {
    font-size: 0.95rem;
  }
  .mobile-navbar-popup {
    top: 4rem;
    right: 1.75rem;
  }
  .mobile-navbar-leaderboard,
  .mobile-navbar-profile {
    width: 10rem;
    gap: 0.75rem;
    font-size: 0.85rem;
  }
  .mobile-navbar-leaderboard img,
  .mobile-navbar-profile img {
    height: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .navbar {
    padding: 0.75rem 0.75rem;
  }
  .logo-streak-icon {
    width: 1.75rem;
  }
  .logo {
    font-size: 1.1rem;
  }
  .navbar-points-logo,
  .navbar-streak-logo,
  .burger-menu-logo {
    height: 1.5rem;
  }
  .navbar-points-number,
  .navbar-streak-number {
    font-size: 0.75rem;
  }
  .mobile-navbar-popup {
    top: 4rem;
    right: 1.5rem;
  }
  .mobile-navbar-leaderboard,
  .mobile-navbar-profile {
    gap: 0.5rem;
    font-size: 0.75rem;
  }
  .mobile-navbar-leaderboard img,
  .mobile-navbar-profile img {
    height: 1.25rem;
  }
  .login-btn {
    font-size: 0.75rem !important;
  }
}
