.landing-page {
  flex: 1;
}

.introduction {
  margin: 3rem;
}

.introduction h2 {
  font-size: 2.75rem;
  color: var(--primary-1);
  font-weight: 500;
  margin-bottom: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(40, end) infinite;
  border-right: .15rem solid orange; /* Change the color and thickness as needed */
}

.introduction h3 {
  font-size: 1.75rem;
  color: var(--primary-2);
  font-weight: 500;
  margin-bottom: 3rem;
}

.introduction p {
    font-size: 1.25rem;
    width: 35%;
    line-height: 1.75;
}

@keyframes typing {
  from { width: 0; }
  to { width: 35%; }
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
