.leaderboard-entry {
  border: 1px solid var(--border-light);
  display: grid;
  grid-template-columns: 2fr 16fr 3fr 3fr;
  gap: 1rem;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  background: var(--background);
}

.leaderboard-rank {
  font-size: 2rem;
  text-align: center;
  color: var(--branding);
}

.leaderboard-points,
.leaderboard-streak {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.leaderboard-points {
  color: var(--primary);
}

.leaderboard-streak {
  color: var(--streak-number);
}

.leaderboard-points img,
.leaderboard-streak img {
  height: 1.75rem;
  margin-right: 0.5rem;
}

.this-user {
  border: 0.5rem solid var(--secondary);
  padding: 0.25rem 0.5rem;
}
