.question-card {
  display: grid;
  grid-template-columns: 1fr 16fr 7fr 1.5fr 1.5fr 1.5fr;
  gap: 2.5rem;
  padding: 0.5rem 0;
}

.question-level {
  font-weight: 600;
}

.easy-level {
  color: var(--secondary);
}

.medium-level {
  color: var(--light-orange);
}

.hard-level {
  color: var(--red);
}

.check-btn {
  /* padding: 0.8rem; */
  border-radius: 50%;
  border: 1px solid var(--gray);
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  /* height: fit-content; */
}

.completed {
  background: url("../../assets/tick.svg");
  background-color: var(--secondary);
  background-position: center;
  border-color: var(--secondary);
}

.question-completed {
  /* text-decoration: line-through; */
  opacity: 0.5;
}

.lecture-link img,
.problem-link img,
.article-link img {
  width: 1.5rem;
}

/* .article-link img{
  width: 3.5rem;
} */
