.streak-logo-container {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.streak-div {
  border-radius: 50%;
  background-color: var(--accent-dark-yellow);
  padding: 0.5rem;
  box-shadow: 0px 2px 6px rgba(255, 150, 0, 0.8);
  animation: pulse 2s ease-in-out infinite;
  overflow: hidden;
}

.streak-logo {
  width: 10vw;
  max-width: 8rem;
  position: relative;
}

.click-text {
  margin-top: 0.5rem;
}

.rotate {
  animation: pulse 2s ease-in-out infinite, rotation 2s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.05); 
  }
  100% {
    transform: scale(1); 
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px){

  .streak-logo-container {
    transform: translate(-50%, -25%);
  }
  .streak-logo{
    width: 12vw;
  }
}

@media screen and (max-width: 500px){
  .streak-logo{
    width: 14vw;
  }
}

@media screen and (max-width: 420px){
  .streak-logo{
    width: 16vw;
  }
}