:root {
  /* --background: #F6F5F2;
  --background-2: #FAEED1; 
  --primary-1: #65451f;
  --primary-2:#76453b;
  --secondary: #ffd82c  ;
  --accent: #FF7396 ;
  --white: #fff; */
  --primary: #FFD92E;
  --secondary: #C6FF67; 
  --accent: #8FFC49;
  --background: #FBF9F1;
  --black: #111009;
  --white: #f5f5f5;
  --light-orange: #FFA113;
  --dark-orange: #FF8A00;
  --light-neutral: #e5e5e5;
  --gray: #afafaf;
  --dark-neutral-1: #52656d;
  --dark-neutral-2: #37464f;
  --semantic-green: #58cc02;
  --semantic-red: #ff4b4b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arsenal", sans-serif;
  text-decoration: none;
  color: var(--black);
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  overflow-y: hidden;
}



