.filter-btn {
  padding: 0.75rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: transparent;
  border: 3px var(--border-light) solid;
}

#easy {
  color: var(--primary);
}

#medium {
  color: var(--semantic-orange);
}

#hard {
  color: var(--semantic-red);
}

.clicked {
  border: none;
}
#easy.clicked {
  background-color: var(--primary);
  color: var(--secondary-text);
}

#medium.clicked {
  background-color: var(--semantic-orange);
  color: var(--secondary-text);
}

#hard.clicked {
  background-color: var(--semantic-red);
  color: var(--secondary-text);
}

@media screen and (max-width: 840px){
  .filter-btn{
    padding: 0.75rem 1.5rem;
  }
}

@media screen and (max-width: 680px){
  .filter-btn{
    padding: 0.6rem 1.25rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px){
  .filter-btn{
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 500px){
  .filter-btn{
    padding: 0.5rem 0.65rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 420px){
  .filter-btn{
    padding: 0.5rem;
    font-size: 0.8rem;
  }
}
