.roadmap {
  /* grid-row: span 2; */
  height: 100%;
  overflow-y: scroll;
}

.filters-div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

#reset{
  color: var(--black);
}

.roadmap-timeline {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.roadmap-timeline::after {
  background-color: var(--pastel-green);
  content: "";
  position: absolute;
  left: calc(22vw + 0.5rem + 50px);
  width: 4px;
  height: 100%;
}


