.roadmap {
  height: 100%;
  overflow-y: scroll;
}

.roadmap-timeline {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 13vh;
}

.roadmap-timeline::after {
  background-color: var(--timeline);
  content: "";
  position: absolute;
  left: calc(22vw + 0.5rem + 50px);
  width: 4px;
  height: 100%;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  .roadmap-timeline::after {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .roadmap-timeline {
    gap: 1.5rem;
  }
}
